<div class = "column-container">
  <h2>
    <%= name %>
  </h2>
  <input class = "dashboard-goal-input" />
  <button class = "dashboard-goal-add" data-button-type = "addGoal" data-goal-target = '<%= goal_id %>' >+</button>
  <ul id = '<%= goal_id %>'>
  </ul>
</div>