<div>
  <div class = "dashboard-input-container">
    <div class = "column-container">
      <h2>
        Kevin
      </h2>
      <ul id = "dashboard-left-added-items">
      </ul>
      <input class = "dashboard-goal-input" />
      <button id =  class = "dashboard-goal-add" data-button-type = "addGoal">+</button>
    </div>
    <div class = "column-container">
      <h2 >
        Alissa
      </h2>
      <input class = "dashboard-goal-input" />
      <button class = "dashboard-goal-add">+</button>
    </div>
  </div>
</div>