%header.h-12.bg-indigo-700.w-full.flex.text-white.px-6.fixed.z-50
  .flex.items-center{class: 'w-10/12' }
    %h1 
      Family Meeting
  %div.flex.items-center.whitespace-nowrap
    %a.text-white{href: '/profile'}
      My Profile
.h-12
