// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fdfff1; 
}

.dashboard-input-container {
  display: flex;
}

.column-container {
  width: 400px;
}

.dashboard-goal-input {
  width: 300px;
  height: 18px;
}

.dashboard-goal-add {
  background: transparent;
  outline: none;
  border: 1px solid grey;
  height: 22px;
  width: 24px;
  cursor: pointer;
}
